<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Profile</title>

    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="./css/bootstrap.min.css"> 
  </head>

  <body>
      <div id="creator-profile" class="card user-card user-name expand-profile" style="height: 10rem; width: 15rem; position: absolute; top:-1000px; left: -1000px; z-index: 10000; display:flex; flex-wrap:wrap; flex-direction:row">
        <img id="creator-img" class="card-img-top" src="" style="height: 50%; width: 50%">
        <p class="card-title" id="creator-about" style="width: 50%; margin:auto"></p>
        <p id="follow-button" class="card-link change-follow-status" style="margin: 1rem"></p>
        <p id="follower-count" style="margin: 1rem"></p>
      </div>

      <div id="comments-div-of-post" class="card comments-div" style="height: 100vh; width: 33%; position: absolute; top:-1000px; left: -1000px; z-index: 9999; overflow-y: auto">
        <img class="card-img-top post-image comments-div" id="post-image-in-comments-div" src="">
        <div class="card-img-overlay comments-div">
          <h5 class="card-title post-title comments-div" id="post-title-in-comments-div"></h5>
        </div>
        <div class="card-body comments-div">
          <p class="card-text post-context comments-div" id="post-context-in-comments-div"></p>
        </div>
        <div id="show-comments" class="comments-div" style="height:100%; width:100%; overflow-y:auto">

        </div>
          <% if(viewerId) { %>
            <form id="comment-form" style="position:relative; z-index:10000" class="in-comments-div">
              <textarea class="in-comments-div" id="comment-input" style="width: 100%">
              </textarea>
              <br />
              <input type="submit" id="send-comment" value="send" class="btn btn-primary in-comments-div" style="width:100%"/>
            </form>
          <% } else { %>
            <div id="register-to-comment" class="in-comments-div">

            </div>
          <% } %>
      </div>
      
      <%- include('navPartial', {viewerId: viewerId}) %>
      
      <div class="card-group">
        <div class="card"  id="liked-posts">
          <h5 id="liked-posts-title" class="btn card-title mt-auto sticky-top">Liked Posts</h5>
            <% for(var i=0; i<data.length; ++i) { %>
              <div class="liked-posts-div">
                <%- include('showPostPartial', { creator: data[i].creator, post: data[i].post, viewerId: viewerId }); %>
              </div>
            <% } %>
        </div>
      <div class="card"  id="profile-card">
        <div id="view-profile">         
          <% if(user.profileImageURL != ""){ %>
            <img class="card-img-top" src=<%= user.profileImageURL %> alt="profile image" style="height: 50%">
            <section id="change-image-form-group" class="form-group">
              <form id="change-image-form" action="/changeProfileImage" method="post">
                <button type="submit" id="change-image-button" class="form-control btn btn-outline-danger" style="border-radius:0px;">Change Profile Image</button>  
              </form>
            </section>
          <% } else { %>
            <section id="profile-img-preview-section">
              <img id="profile-img-preview" src="https://cdn.eso.org/images/thumb300y/eso1907a.jpg"/>
            </section>
            <section id="pick-profile-image" class="form-group" style="margin:auto; width:50%">
              <p id="no-image-note" style="text-align:center">No profile picture added yet.</p>
              <form id="pick-profile-image-form" action="/addProfileImage" method="post">
                  <input
                    name="imageURL"
                    id="image-input"
                    type="url"
                    maxlength="2083"
                    class="form-control"
                    required
                  />
                <button type="submit" id="post-image-url-button" class="form-control btn btn-outline-primary" disabled>Add Profile Image From URL</button>
              </form>
            </section>
          <% } %>
          <div class="card-body" id="user-info">
            <h5 class="card-title" id="profile-name" style="text-align:center; margin-top:-25px"><%= user.name %></h5>
            <% if(user.about == ""){ %>
              <section id="about-form-section" class="form-group">
                <form id="about-form" action="/addProfileDescription" method="post">
                  <textarea
                    name="about"
                    id="about-input"
                    type="textarea"
                    class="form-control"
                    rows="2"
                    maxlength="100"
                    required>
                  </textarea>
                  <button type="submit" id="about-button" class="form-control btn btn-outline-primary">
                    Add Profile Description
                  </button>
                </form>
              </section>
            <% } else { %>
              <p class="card-text" id="profile-description" style="text-align:center"><%= user.about %></p>
              <a href="/changeProfileDescription" class="form-control btn btn-outline-danger">Change Description</a>
            <% } %>
            <p class="card-text" id="register-date"><small class="text-muted">Joined at: <%= user.createdAt.toLocaleString() %> </small></p>
          </div>
        </div>
        <p id="view-posts" class="form-control btn btn-primary mt-auto sticky-top" style="margin-bottom:0px; z-index:10000; border-radius:0px;">view your posts</p>
        <div id="profile-posts" style="display:none;">
          <div id="show-posts-div" style="width:100%">
            <% for(var i=0; i<posts.length; ++i) { %>
              <%- include('showPostPartial', { creator: user, post: posts[i], viewerId: viewerId }); %>
            <% } %>
          </div>
        </div>
      </div>
        
      
      
      <div class="card"  id="feed">
        <h5 id="feed-title" class="btn btn-info card-title mt-auto sticky-top">Feed</h5>
        <div id="feed-posts" class="card"></div>
      </div>
      </div>
    </div>
       
    <script src="https://code.jquery.com/jquery-3.6.0.js"
			    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
			    crossorigin="anonymous">
    </script>
    
    <script type="text/javascript" src="/profileandposts.js"></script>
     
    <script>

      $("#image-input").on("input", function(event){
        let regex = /(\.jpg$)|(\.jpeg$)|(\.png$)/
        if(regex.test(event.target.value)) {
          $("#post-image-url-button").prop("disabled", true)
          $("#profile-img-preview").attr("src", event.target.value);
          $("#no-image-note").text("image url is valid")
          let status = true
          $("#profile-img-preview").on("error", function(img){
            status = false
            $("#no-image-note").text("image url is invalid")
            event.target.value = ""
            $("#profile-img-preview").attr("src", "https://cdn.eso.org/images/thumb300y/eso1907a.jpg");
          })
          if(status){
            $("#post-image-url-button").prop("disabled", false)
          }
        } else {
          event.target.value = ""
          $("#no-image-note").text("invalid url. make sure url ends with .jpg, .jpeg or .png")
          $("#profile-img-preview").attr("src", "https://cdn.eso.org/images/thumb300y/eso1907a.jpg");
        }
      })
      
      $("#view-posts").on("click", function() {
        if($("#profile-posts").css("display") == "none") {
          $("#view-posts").text("view your profile")
          $("#profile-posts").css("display", "block")
          $("#view-profile").css("display", "none")
        } else {
          $("#view-posts").text("view your posts")
          $("#view-profile").css("display", "block")
          $("#profile-posts").css("display", "none")
        }
      })
      
      var feedDate = new Date();
      feedDate = new Date(feedDate.setHours(feedDate.getHours()-6));
      
      const getFeed = () => {
        const feedURL = "https://image-sharing-with-mongodb.glitch.me/feed"
        
        $.post(feedURL, { dateFilter: feedDate }).done(function(data){
          console.log(data)
          data = data.reverse();
          
          if(data){
            data.forEach((d, i) => {
              const post = d.post;
              const user = d.creator;
              const title = post.title;
              const imageURL = post.imageURL;
              const context = post.context;
              const creatorId = post.creatorId;
              
              const postDate = new Date(post.createdAt)
              const postDateFormated = postDate.toLocaleDateString("en-EN", {day: "2-digit", month: "short", year:"numeric", hour12: false, hour: "numeric", minute: "numeric", second: "numeric"})
              
              const postDiv = `<div class="card post-card" id="post-card-${post._id}" style="width: 100%; margin:auto;"> 
                <img class="card-img-top post-image" id="post-image-${post._id}" src="${post.imageURL}">
                <div class="card-img-overlay">
                  <h5 class="card-title post-title" id="post-title-${post._id}">${post.title}</h5>
                </div>
                <div class="card-body">
                  <p class="card-text post-context" id="post-context-${post._id}">${post.context}</p>
                </div>
                <hr/>
                <div class="row user-name" style="margin:auto;" creatorId="${user._id}">
                  <div class="col-lg user-name-col">${user.name}</div>
                  <div class="col-lg date-col" style="width:300px">${postDateFormated}</div>
                </div>
                <hr />
                <div class="card-body like-and-comment-div" style="margin:auto; display:inline-block">
                  <a id="like-post-${post._id}" class="card-link like-content" style="display:inline-block"  contentType="post" contentId="${post._id}">${post.likedUserIds.length > 1 ? post.likedUserIds.length + " likes" : post.likedUserIds.length + " like"}</a>
                  <a id="comment-${post._id}"class="card-link comment comments-count" style="display:inline-block" contentType="post" contentId="${post._id}">${post.commentIds.length > 1 ? post.commentIds.length + " comments" : post.commentIds.length + " comment"}</a>
                </div>
              </div>`

              $("#feed-posts").prepend(postDiv);
            })
            
            
          }
        }).fail(function(xhr, status, error){
          console.log("fail")
          console.log("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
        })
        
        feedDate = new Date();
      }
      
      getFeed()
        
      var feedInterval = setInterval(getFeed,1000)
      
      
    
    

    </script>
  </body>
</html>

