<div id="creator-profile" class="card user-card expand-profile" style="height: 15em; width: 15rem; position: absolute; top:-1000px; left: -1000px; z-index: 10000" flex-wrap="wrap">
  <img id="creator-img" class="card-img-top" src="" style="height: 50%; width: 50%; flex: 2">
  <p class="card-title" id="creator-about"></p>
  <p id="follow-button" class="card-link change-follow-status"></p>
  <p id="follower-count"></p>
</div>

<div class="card post-card" id="post-card-<%= post._id %>" style="width: 100%; margin:auto;"> 
      
  <img class="card-img-top post-image" id="post-image-<%= post._id %>" src=<%= post.imageURL %>>
  <div class="card-img-overlay">
    <h5 class="card-title post-title" id="post-title-<%= post._id %>"><%= post.title %></h5>
  </div>
  <div class="card-body">
    <p class="card-text post-context" id="post-context-<%= post._id %>"><%= post.context %></p>
  </div>
  <hr/>
  <div class="row" id="username-date-row" style="margin:auto;">
    <div class="col-lg user-name" creatorId="<%= post.creatorId %>">
      <%= creator.name %>
    </div>
    <div class="col-lg" style="width:300px">
      <%= post.createdAt.toLocaleDateString("tr-TR", {day: "2-digit", month: "short", year:"numeric", hour12: false, hour: "numeric", minute: "numeric", second: "numeric"}) %>
    </div>
  </div>
  <hr />
  <% if(viewerId && viewerId != creator._id.toString() && post.likedUserIds.indexOf(viewerId) == -1) { %>
    <div class="card-body like-and-comment-div" style="margin:auto; display:inline-block">
      <a id="like-post-<%= post._id %>" class="card-link like-post" style="display:inline-block"><%= post.likedUserIds.length %> <%= post.likedUserIds.length > 1 ? "likes" : "like" %></a>
      <a id="comment-<%= post._id %>"class="card-link comment" style="display:inline-block"><%= post.commentIds.length %> <%= post.commentIds.length > 1 ? "comments" : "comment" %></a>
    </div>
  <% } else if(viewerId && viewerId == creator._id.toString()) { %>
    <div class="card-body users-like-comment-remove-post-div" style="margin: auto">
      <a id="user-post-likes-<%= post._id %>" class="card-link likes-count"><%= post.likedUserIds.length %> <%= post.likedUserIds.length > 1 ? "likes" : "like" %></a>
      <a id="user-post-comments-<%= post._id %>" class="card-link comments-count"><%= post.commentIds.length %> <%= post.commentIds.length > 1 ? "comments" : "comment" %></a>
      <a href="/delete-post/<%= post._id %>" class="card-link">Remove Post</a>
    </div>  
  <% } else if(viewerId && post.likedUserIds.indexOf(viewerId) != -1) { %>
    <div class="card-body like-and-comment-div" style="margin:auto; padding-bottom:1px">
      <p id="like-post-<%= post._id %>" class="card-link like-post liked-post" style="display:inline-block"><%= post.likedUserIds.length %> <%= post.likedUserIds.length > 1 ? "likes" : "like" %></p>
      <p id="comment-<%= post._id %>" class="card-link comment" style="display:inline-block"><%= post.commentIds.length %> <%= post.commentIds.length > 1 ? "comments" : "comment" %></p>
    </div>
  <% } else { %>
    <div class="card-body" style="text-align:center; padding-bottom:1px">
      <a id="post-likes-<%= post._id %>" class="card-link likes-count"><%= post.likedUserIds.length %> <%= post.likedUserIds.length > 1 ? "likes" : "like" %></a>
      <a id="post-comments-<%= post._id %>" class="card-link comments-count"><%= post.commentIds.length %> <%= post.commentIds.length > 1 ? "comments" : "comment" %></a>
      <hr />
      <a href="/register" class="card-link">Register now to like and comment on posts & follow your favorite users!</a>
    </div>
  <% } %>
</div>